<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-4 mx-auto">
  
          <!-- Content -->
          <img class="footlogo" src="../../assets/logo.png" alt="Koolcakes">

  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">KoolCakes</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">> Home</a>
            </li>
            <li>
              <a href="#!">> About</a>
            </li>
            <li>
              <a href="#!">> Our Cakes</a>
            </li>
            <li>
              <a href="#!">> Cake Builder</a>
            </li>
            <li>
                <a href="#!">> News</a>
              </li>
              <li>
                  <a href="#!">> Blogs</a>
                </li>
                <li>
                    <a href="#!">> Offers</a>
                  </li>
                  <li>
                      <a href="#!">> Egg Free Cakes</a>
                    </li>
                    <li>
                        <a href="#!">> Contact Us</a>
                      </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Help</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">> FAQ</a>
            </li>
            <li>
              <a href="#!">> Terms and Conditions</a>
            </li>
            <li>
              <a href="#!">> Privacy Policy</a>
            </li>
            <li>
              <a href="#!">> Cokkies</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">KoolCakes Bakery</h5>
  
          <!-- <ul class="list-unstyled">
            <li>
              <a href="#!">Link 1</a>
            </li>
            <li>
              <a href="#!">Link 2</a>
            </li>
            <li>
              <a href="#!">Link 3</a>
            </li>
            <li>
              <a href="#!">Link 4</a>
            </li>
          </ul> -->
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <hr>
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">Copyright © 2019
      <a href="#">koolcakes.co.uk All Rights Reserved.</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->