<div class="crd">
    <h3>Birthday Cakes</h3>
    <hr>
    <div class="card-group 1">
        <div class="card">
            <a routerLink="/birthdaycakes/superheroes"><img class="card-img-top" src="../../assets/p7.png" alt="Superheroes"></a>
            <div class="card-body">
            </div>
            <div class="card-footer">
                <strong>SUPERHEROS</strong>
            </div>
        </div>
        <div class="card">
            <a href=""><img class="card-img-top" src="../../assets/p7.png" alt="Cartoon characters"></a>
            <div class="card-body">
            </div>
            <div class="card-footer">
                <strong>CARTOON CHARACTERS</strong>
            </div>
        </div>
        <div class="card">
            <a href=""><img class="card-img-top" src="../../assets/p7.png" alt="James bond"></a>
            <div class="card-body">
            </div>
            <div class="card-footer">
                <strong>JAMES BOND</strong>
            </div>
        </div>
        <div class="card">
            <a href=""><img class="card-img-top" src="../../assets/p7.png" alt="1st/25th/50th Birthday"></a>
            <div class="card-body">
            </div>
            <div class="card-footer">
                <strong>1st/25th/50th BIRTHDAYS</strong>
            </div>
        </div>
    </div>



    <div class="card-group b">
        <div class="card">
            <a href=""><img class="card-img-top" src="../../assets/p7.png" alt="All Disney princesses"></a>
            <div class="card-body">
            </div>
            <div class="card-footer">
                <strong>ALL DISNEY PRINCES</strong>
            </div>
        </div>
        <div class="card">
            <a href=""><img class="card-img-top" src="../../assets/p7.png" alt="Camera cake"></a>
            <div class="card-body">
            </div>
            <div class="card-footer">
                <strong>CAMERA CAKE</strong>
            </div>
        </div>
        <div class="card">
            <a href=""><img class="card-img-top" src="../../assets/p7.png" alt="Hardware tool"></a>
            <div class="card-body">
            </div>
            <div class="card-footer">
                <strong>HARDWARE TOOL</strong>
            </div>
        </div>
        <div class="card">
            <a href=""><img class="card-img-top" src="../../assets/p7.png" alt="Crown/tiara"></a>
            <div class="card-body">
            </div>
            <div class="card-footer">
                <strong>CROWN/TIARA</strong>
            </div>
        </div>
        <div class="card">
            <a href=""><img class="card-img-top" src="../../assets/p7.png" alt="All video games"></a>
            <div class="card-body">
            </div>
            <div class="card-footer">
                <strong>ALL VIDEO GAMES</strong>
            </div>
        </div>
    </div> <br>

    <hr> <br>
    <div class="desc">
        Birthdays call for a special treat and what better way than to pick your favourite 
                    butter cream, fresh cream or the best of chocolate cakes to quench your thirst for 
                    sweet treats. Our birthday cakes are decked in rich cream or icing and can all be 
                    personalised with heartfelt messages, pictures and toppers of your choice.

                    Birthday parties with their usual rituals like blowing out candles, making a wish 
                    need a traditional birthday cake large enough or small enough for the expected crowd. 
                    We master in delivering cakes of all sizes as each party is unique and deserves a cake that goes well with the occasion and taste delicious.
                    
                    With us you have the complete liberty to personalize the birthday cake as you wish.
                     We can add some memorable images that would be edible and make the cake a memorable piece.              
                    With us your birthday cakes option have no limits. Starting from the popular favourites
                    like icing, chocolate and fresh cream to themed cakes and picture cakes, we have it all. So 
                    take a look around pick your favourite and we will have it delivered for your special event.
                     You can also have your own cake built from scratch with our cake builder, check it out.
    </div>


</div>




<!-- <div class="container">
        <div class="row">
          <div class="col-sm">
            <mat-card class="card">
                <mat-card-content>
                    <h2>About Us</h2>
                    <hr>  <br>
                    Birthdays call for a special treat and what better way than to pick your favourite 
                    butter cream, fresh cream or the best of chocolate cakes to quench your thirst for 
                    sweet treats. Our birthday cakes are decked in rich cream or icing and can all be 
                    personalised with heartfelt messages, pictures and toppers of your choice.

                    Birthday parties with their usual rituals like blowing out candles, making a wish 
                    need a traditional birthday cake large enough or small enough for the expected crowd. 
                    We master in delivering cakes of all sizes as each party is unique and deserves a cake that goes well with the occasion and taste delicious.
                    
                    With us you have the complete liberty to personalize the birthday cake as you wish.
                     We can add some memorable images that would be edible and make the cake a memorable piece.              
                    With us your birthday cakes option have no limits. Starting from the popular favourites
                    like icing, chocolate and fresh cream to themed cakes and picture cakes, we have it all. So 
                    take a look around pick your favourite and we will have it delivered for your special event.
                     You can also have your own cake built from scratch with our cake builder, check it out.
                </mat-card-content>
              </mat-card>
          </div>
      
        </div>
      </div> -->