
<div class="container">
  <div class="row">
    <div class="col-sm">
      <mat-card class="card">
          <mat-card-content>
              <h2>About Us</h2>
              <hr>  <br>
              Kool Cakes Bakery -  formarly known as Paul’s Bakers, was started in 1994 under the ownership of Kulwinder Paul Kumar. Paul's skill and proficiency in the art of modelling gum
              paste flowers and decorations are exemplary. He attained his masters degree in cake decoration as well as diplomas in cake decorating from the US.<br><br><br><br>

              <strong style="color: red;">“Paul is truly a Master of Cakes”</strong><br>
              All our staff members are trained in the art of Cake Making as well as customer service. ETHOS: We pride ourselves in using fresh ingredients and the desire to please our customers
               at all times. ACCOLADES: We have created tens of thousands of cakes with over 100,000 satisfied customers over the years. With over 18 years of experience in the industry, this makes
                us one of the most experienced cake makers in the UK. Our cakes are featured in various magazines and exhibitions and we are also preferred cake providers for weddings and special occasions
                 organised by various popular event organisers, caterers, venues and banqueting halls. In January 2012 we were chosen to provide a massive 5 foot tall cake for Celebrity Big Brother for one 
                 of the tasks. To top it all up in June 2012 we were honoured to make and gift a 'Royal' cake to the Queen at Buckingham Palace during her Jubilee Celebrations. Paul masterminded the making
                  of these cake and this is what he had to say about the Queens Jubilee Celebrations cake: " This is the biggest thing that has happened to me in over 20 years of me being in this business and 
                  this is a dream come true for me".<br><br><br>
              
               Community Assistance<br>
              We believe in assisting the local and general community wherever we can by doing our share of charitable work whether financially or in kind.  Examples include donating to local churches during their fund raising events, donating to religious groups during their events and donating to local schools during their fund raising events such as 'Cake Sale Day'.
          </mat-card-content>
        </mat-card>
    </div>

  </div>
</div>