<div class="crd">
    <h3>All Sports</h3>
    <hr>
    <div class="card-group 1">
        <div class="card">
            <a routerLink="/cakeform"><img class="card-img-top" src="../../assets/p7.png" alt="gym cake"></a>
            <div class="card-body">
            </div>
            <div class="card-footer">
                <strong>GYM CAKES</strong>
            </div>
        </div>
        <div class="card">
            <a routerLink="/cakeform"><img class="card-img-top" src="../../assets/p7.png" alt="football"></a>
            <div class="card-body">
            </div>
            <div class="card-footer">
                <strong>FOOTBALL</strong>
            </div>
        </div>
        <div class="card">
            <a routerLink="/cakeform"><img class="card-img-top" src="../../assets/p7.png" alt="tennis"></a>
            <div class="card-body">
            </div>
            <div class="card-footer">
                <strong>TENNIS</strong>
            </div>
        </div>
        <div class="card">
            <a routerLink="/cakeform"><img class="card-img-top" src="../../assets/p7.png" alt="golf"></a>
            <div class="card-body">
            </div>
            <div class="card-footer">
                <strong>GOLF</strong>
            </div>
        </div>
    </div>



    <div class="card-group b">
        <div class="card">
            <a routerLink="/cakeform"><img class="card-img-top" src="../../assets/p7.png" alt="formula 1"></a>
            <div class="card-body">
            </div>
            <div class="card-footer">
                <strong>FORMULA 1</strong>
            </div>
        </div>
        <div class="card">
            <a routerLink="/cakeform"><img class="card-img-top" src="../../assets/p7.png" alt="jersy shaped"></a>
            <div class="card-body">
            </div>
            <div class="card-footer">
                <strong>JERSY SHAPED</strong>
            </div>
        </div>
        <div class="card">
            <a routerLink="/cakeform"><img class="card-img-top" src="../../assets/p7.png" alt="other sports"></a>
            <div class="card-body">
            </div>
            <div class="card-footer">
                <strong>OTHER SPORTS</strong>
            </div>
        </div>
      
        
    </div>


</div>
