<mat-card class="abc">
    <form class="border border-light p-5">
  
      <p class="h4 mb-4">Your Contact Information
      </p>
      <hr>
      <h6>We will endeavour to contact you within 24 hours of receipt of your enquiry. In case your query is of an urgent
        nature then we suggest you call the bakery at the earliest.
      </h6>
      <div class="row" style="margin-top: 5%;">
        <div class="col">
          <label for="textInput">Enquiry type:</label>
          <select class="browser-default custom-select mb-4" id="select">
            <option value="" disabled="" selected="">Select Enquiry Type</option>
            <option value="1">Wedding Cakes</option>
            <option value="2">Birthday Cakes</option>
            <option value="3">Novelty Cakes</option>
            <option value="4">Special Occassion</option>
            <option value="5">Write a Review</option>
            <option value="6">Others</option>
  
  
          </select>
        </div>
        <div class="col">
          <label for="textInput">Full Name</label>
          <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="">
        </div>
      </div>
      <div class="row">
        <div class="col">
          <label for="textInput">Would you like us to contact you by phone or on email?</label>
          <select class="browser-default custom-select mb-4" id="select">
            <option value="" disabled="" selected="">By Phone</option>
            <option value="1">By E-mail</option>
          </select>
        </div>
        <div class="col">
          <label for="textInput">How did you hear about us?</label>
          <select class="browser-default custom-select mb-4" id="select">
            <option value="" disabled="" selected="">Google</option>
            <option value="1">Returning Custumer</option>
            <option value="2">From a Friend</option>
          </select>
        </div>
      </div>
  
      <div class="row">
        <div class="col">
          <label for="textInput">Address Line</label>
          <input type="text" id="textInput" class="form-control mb-4" placeholder="">
        </div>
        <div class="col">
          <label for="textInput">City</label>
          <input type="text" id="textInput" class="form-control mb-4" placeholder="">
        </div>
      </div>
  
      <div class="row">
        <div class="col">
          <label for="textInput">Country</label>
          <input type="text" id="textInput" class="form-control mb-4" placeholder="">
        </div>
        <div class="col">
          <label for="textInput">Postcode</label>
          <input type="text" id="textInput" class="form-control mb-4" placeholder="">
        </div>
      </div>
  
  
      <div class="row">
        <div class="col">
          <label for="textInput">Phone Number</label>
          <input type="text" id="textInput" class="form-control mb-4" placeholder="">
        </div>
        <div class="col">
          <label for="textInput">E-mail</label>
          <input type="email" id="defaultContactFormEmail" class="form-control mb-4" placeholder="">
  
        </div>
      </div>
  
  
  
      <label for="textInput">Enquiry</label>
      <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder=""></textarea>
  
      <br>
      <button class="btn btn-info btn-block" type="submit" style="margin-top: 5%;width:25%;margin:auto;">Submit</button>
    </form>
  </mat-card>