<div class="crd">
    <h3>Our Cakes</h3>
    <hr>
    <div class="card-group 1">
        <div class="card">
            <a routerLink="/ourcakes/baby_shower"><img class="card-img-top" src="../../assets/p7.png" alt="Superheroes"></a>
            <div class="card-body">
            </div>
            <div class="card-footer">
                <strong>BABY SHOWER</strong>
            </div>
        </div>
        <div class="card">
            <a href=""><img class="card-img-top" src="../../assets/p7.png" alt="Cartoon characters"></a>
            <div class="card-body">
            </div>
            <div class="card-footer">
                <strong>WEDDING</strong>
            </div>
        </div>
        <div class="card">
            <a href=""><img class="card-img-top" src="../../assets/p7.png" alt="James bond"></a>
            <div class="card-body">
            </div>
            <div class="card-footer">
                <strong>MOTHER'S DAY</strong>
            </div>
        </div>
        <div class="card">
            <a href=""><img class="card-img-top" src="../../assets/p7.png" alt="1st/25th/50th Birthday"></a>
            <div class="card-body">
            </div>
            <div class="card-footer">
                <strong>FATHER'S DAY</strong>
            </div>
        </div>
    </div>



    <div class="card-group b">
        <div class="card">
            <a href=""><img class="card-img-top" src="../../assets/p7.png" alt="All Disney princesses"></a>
            <div class="card-body">
            </div>
            <div class="card-footer">
                <strong>CORPORATE</strong>
            </div>
        </div>
        <div class="card">
            <a href=""><img class="card-img-top" src="../../assets/p7.png" alt="Camera cake"></a>
            <div class="card-body">
            </div>
            <div class="card-footer">
                <strong>ADULT</strong>
            </div>
        </div>
        <div class="card">
            <a href=""><img class="card-img-top" src="../../assets/p7.png" alt="Hardware tool"></a>
            <div class="card-body">
            </div>
            <div class="card-footer">
                <strong>NEW YEAR</strong>
            </div>
        </div>
        <div class="card">
            <a href=""><img class="card-img-top" src="../../assets/p7.png" alt="Crown/tiara"></a>
            <div class="card-body">
            </div>
            <div class="card-footer">
                <strong>VALENTINE'S DAY</strong>
            </div>
        </div>
        <div class="card">
            <a href=""><img class="card-img-top" src="../../assets/p7.png" alt="All video games"></a>
            <div class="card-body">
            </div>
            <div class="card-footer">
                <strong>ANNIVERSARY</strong>
            </div>
        </div>
    </div> <br>

    <hr> <br>
    <div class="desc">
        Looking for something different for a themed birthday party? Well, you don’t need to look beyond us. All of our novelty cakes are made from the freshest of ingredient with the touch of bakers who have mastered the art of cake making.
        These novelty cakes greatly vary in terms of decoration, theme and size. While we offer cakes that are perfect for smaller parties, we also have bigger cakes to fit any crowd size of your choice.
        <br> 
        <h5>Kid’s Novelty cake</h5>
        Kids are always attracted to fun, why should their special cake miss out on it? Our novelty cakes, specially made for kids parties, like birthdays, graduations are not only playful to look at but taste as amazing as our traditional cakes. We have here, sports theme cake, Disney theme cakes, castle cakes, superhero theme cakes and so much more for the kids to take their pick. 
      <br> <h5>Adult’s Novelty Cake</h5> <br>

Adult’s need to let loose and have some fun too amidst all the monotony. Our novelty cakes here are the perfect gateway to having a great party and spread the joy. With each bite providing a treat for your mouth, these cakes have been decorated and designed as liquor bottle, mendhi and makeup. Our mendhi cakes are perfect for ceremonies and religious occasions, while the novelty birthday cakes do a fine job at your birthday party.

So pick your favourite here and we can adorn it with a special message or a topper of your choice and personalize it to suit your need. If you have your own idea of the cake, you can hop on to our cake builder to design your favourite piece and we will have it delivered.
    </div>


</div>
