.crd{
    background-color: aqua;
    height: auto;
    width: 75%;
    margin: auto;
}
.crd h3{
    padding: 30px 20px 20px 20px;
}

.card{
    margin-left:2%;
    margin-right:2%;
    margin-bottom: 2%;
   
}

    div.card-group.b{
margin: auto;
    }

.container{
    width: 75%;
    margin: auto;
}

.card-footer{
    font-family: Alice-Regular;
}
.desc{
    padding: 10px 40px 40px 40px;
    color: black;

}

