.outercard{
    height: 100%;
    width: 100%;
    background-color: blanchedalmond;
    padding-bottom: 40px;
    }
    .innercard{
      margin: auto;
      background-color: white;
      height: 500px;
      width: 800px;
      color: black;
    }
    mat-card-title {
      text-align: center;
      padding: 20px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 30px;
    }
    form{
      padding: 4% 0% 0% 0%;
    }
    mat-form-field {
      margin-left: 100px;
      color: black;
      width: 60%;
      border-bottom-color: wheat;
    }
    matInput{
      border: 0px 0px 1px 0px solid wheat;
    }
    form {
      font-size: 16px;
    }
    .butn button{
      background-color: rgb(119, 202, 113);
      color: antiquewhite;
    }
    div{
      margin-left: 100px;
    }
   
    