<div class="container">
    <div class="row">
      <div class="col-sm">
        <mat-card class="card">
            <mat-card-content>
                    <h2>News</h2>
                    <hr>  <br>
                    Finding the right cake for your needs requires much more thought than simply what kind of cake you’d like to have. In fact, the design of the cake can – and should – be one of the main decisions that you make when trying to create the perfect cake.

                    No matter whether it’s for a birthday party or your wedding cake, here are some aspects of cake design that you should think about!
                    <br><br>
                    <strong style="color: red;">What Colour Do You Want?</strong><br>
                    
                    Cakes don’t have to be bland and boring. In fact, we actively encourage people to play around with colour when it comes to their cake design.
                    
                    
                    Whether you’re a fan of blocked, bold colours or prefer a more subtle addition of colour, it’s a great way to create an eye catching focal point which looks attractive and tastes good, too!
                    <br><br>
                    <strong style="color: red;">How Many Tiers?</strong> <br>
                    
                    There’s no right or wrong answer when it comes to the amount of tiers that your cake has. If you want to have a three tiered birthday cake, there’s nothing to stop you! This also means those of you who want a single tier wedding cake can have one if that’s what you really want!
                    
                    <br>
                    It’s worth thinking about how many people you will want to be sharing your cake with. More people doesn’t necessarily mean more tiers; you could always have a larger single tiered cake! Cakes with many tiers look grand, though, so maybe think about how important the cake is to your celebration.
                    <br>
                    <strong style="color: red;">What Shape?</strong> <br>
                    
                    Many people think that a cake has to be either round or square, but this really isn’t the case. Many bakers will have a variety of different cake trays which come in an array of shapes – after all, cake making really is an art form!
                    <br><br>
                    
                    From love hearts, hexagons – even cakes which are shaped like teddy bears, have some kind of idea what shape you’d like to have for your cake. Love hearts are extremely popular with weddings, and hexagons are a great, visually appealing alternative to square cakes! You could even go for something completely out there like the cake above!
                    <br><br>
                    <strong style="color: red;">"Do You Want Decorations?"</strong> <br>
                    
                    Many people forget that cakes can be decorated with other things that aren’t icing. There are some beautiful icing decorations that can be added, some people may want to take their cake in a completely different direction and have something to remember their cake by once it has gone.
                    
                    <br><br>
                    Using flower garlands as cake decorations has become increasingly popular over the last few years, adding a natural touch to even the simplest of cakes. Ribbons are also a great choice to add a splash of colour to your cake without being too overbearing.
                    
                    If you do want edible decorations, the world is your oyster. From delicious icing flowers to incredible art drawn onto your cake using a piping bag full of icing – the choice is completely up to you.
                    
                    If you’d like to call upon the expertise of our master cake makers here at Kool Cakes, be sure to get in contact with us today. We’d love to help you create the perfect cake for your celebration, no matter what it might be.
                    
                     
                            
            </mat-card-content>
          </mat-card>
      </div>
  
    </div>
  </div>

  <router-outlet></router-outlet>